.adp-{
	&form__block{
		width: 100%;
		float: left;
		.title{
			width: 100%;
			float: left;
			h2{
				margin-bottom: 30px;
			}
		}
		form{
			width: 100%;
			float: left;
			p{
				width: 100%;
				float: left;
				label{
					width: 100%;
					float: left;
					margin-bottom: 5px;
					color: #696969;
					input{
						&[type="checkbox"]{
							margin-top: 6px;
							margin-right: 10px;
						}
					}
				}
				input{
					width: 100%;
					float: left;
					height: 45px;
					padding: 0 20px;
					border: 1px solid #dfdfdf;
					color: #292929;
					border-radius: 3px;
					&:focus{
						border-color: $primary-blue;
						outline: none;
					}
					&[type="checkbox"]{
						width: 14px;
						height: 14px;
					}
					&[type="submit"]{
						background-color: $primary-blue;
						height: 55px;
						font-size: 18px;
						font-weight: 600;
						color: #fff;
					}
				}
			}
		}
	}
}