html{
	overflow: auto;
	overflow-x: hidden;
}
body{
	overflow-x: hidden;
}
main{
	width: 100%;
	min-height: 600px;
	float: left;
	padding-top: 155px;
}
section{
	width: 100%;
	float: left;
	padding: 0 0 100px;
}
.container{
	min-width: 1170px!important;
}
.page__title{
	width: 100%;
	float: left;
	h1{
		margin-bottom: 50px;
	}
}
.adp-{
	&page__title{
		padding: 0;
	}
	&page__content{
		padding: 0;
	}
}
/*Glossary*/
.listNav{
	margin: 0;
}
.ln-letters{
	margin-bottom: 40px;
	a{
		min-width: 30px;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		color: $primary-blue;
		border-color: #808080;
		text-align: center;
		padding: 5px;
		cursor: pointer;
		&.ln-all,
		&.ln-selected{
			background-color: rgba(25, 168, 230, 0.1);
		}
	}
}
.ln-letter-count{
	display: none!important;
}
.glossary-container{
	width: 100%;
	float: left;
	margin-bottom: 100px;
}
.glossaryList{
	width: 100%;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		width: 100%;
		float: left;
		padding: 20px 65px;
		&:nth-child(even){
			background-color: #f2f2f2;
		}
		div.glossaryLink,
		a.glossaryLink{
			width: 40%;
			display: block;
			float: left;
			font-weight: bold;
			font-size: 16px;
			line-height: 26px;
			border-bottom: none;
			color: #000;
		}
		.glossaryDescription{
			width: 60%;
			display: block;
			float: left;
			font-weight: normal;
			font-size: 16px;
			line-height: 26px;
			color: #000;
		}
	}
}
.glossaryHeader{
	width: 100%;
	float: left;
	padding: 20px 65px;
	div.glossaryLink,
	a.glossaryLink{
		width: 40%;
		display: block;
		float: left;
		font-weight: bold;
		font-size: 16px;
		line-height: 26px;
		border-bottom: none;
		color: #000;
	}
	.glossaryDescription{
		width: 60%;
		display: block;
		float: left;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #000;
	}
}
@media print {
	.col-print-12{
		flex: 0 0 100%;
    	max-width: 100%;
	}
	.adp-{
		&print__details{
			display: block;
		}
		&post__content .sidebar{
			display: none;
		}
	}
}
body{
	&.admin-bar{
		.adp-header{
			top: 32px;
		}
	}
	&.scale{
		.adp-top__nav ul li {
			a{
				font-size: 22px;
				padding: 12px 33.5px 14px;
			}
			&:first-child{
				a{
					padding: 12px 33.5px 14px 0;
				}
			}
		}
		.adp-bottom__nav ul {
			li {
				a{
					font-size: 22px;
					padding: 36px 36px;
				}
				&:last-child{
					a{
						padding: 36px 0 36px 36.5px;
					}
				}
			}
			&.sub-menu{
				li{
					a{
						font-size: 18px;
						line-height: 28px;
					    padding: 8px 15px;
					}
				}
			}
		}
		.adp-header.scroll .adp-bottom__nav ul {
			li {
				a{
					padding: 13.5px 36.5px;
				}
				&:last-child{
					a{
						padding: 13.5px 0 13.5px 36.5px;
					}
				}
			}
			&.sub-menu{
				li{
					a{
						padding: 8px 15px;
					}
				}
			}
		}
		h1,.h1{
			font-size: 42px;
			line-height: 56px;
		}
		h2,.h2{
			font-size: 31px;
			line-height: 43px;
		}
		h3,.h3{
			font-size: 22px;
			line-height: 30px;
		}
		h4,.h4{
			font-size: 18px;
			line-height: 28px;
		}
		h5,.h5{
			font-size: 16px;
			line-height: 22px;
		}
		h6,.h6{
			font-size: 15px;
		}
		p{
			font-size: 18px;
			line-height: 28px;
		}
		.adp-post__content .sidebar div.additional span,
		a{
			font-size: 18px;
			line-height: 28px;
		}
		.adp-sitemap__column .links__block ul li a{
			font-size: 26px;
		}
		// .adp-footer .widget_nav_menu ul li a{
		// 	font-size: 20.8px;
		// }
		.adp-posts__block .read__more{
			font-size: 20.8px;
		}
		.adp-breadcrumbs a, .adp-breadcrumbs span{
			font-size: 16px;
			line-height: 22px;
		}
		.adp-posts__block{
			min-height: 350px;
		}
	}
}