@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,500,700&display=swap');

body{
	font-family: 'PT Sans', sans-serif;
}
img{
	max-width: 100%;
	height: auto;
}
h1,.h1{
	font-size: 40px;
	line-height: 52px;
}
h2,.h2{
	font-size: 29px;
	line-height: 38px;
}
h3,.h3{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 20px;
}
h4,.h4{
	font-size: 16px;
	line-height: 22px;
}
h5,.h5{
	font-size: 14px;
	line-height: 20px;
}
h6,.h6{
	font-size: 12px;
	line-height: 18px;
}
p{
	font-size: 16px;
	line-height: 26px;
}
a{
	color: $primary-blue;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	&:hover{
		color: $primary-blue;
	}
}
ul{
	padding: 0 0 0 20px;
}
hr{
	border-top: 1px solid #ccc;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}