.adp-{
	&bibliography__section{
		.category__block{
			width: 100%;
			float: left;
			margin-bottom: 80px;
			&:last-child{
				margin-bottom: 0;
			}
			h3{
				margin-bottom: 0;
			}
		}
	}
	&bibliography__table{
		width: 100%;
		float: left;
		margin-top: 30px;
		.thead{
			width: 100%;
			float: left;
			.tr{
				width: 100%;
				float: left;
				padding: 20px 50px;
				.td{
					font-weight: bold;
					font-size: 16px;
					line-height: 26px;
					float: left;
					padding: 0 15px;
					&.book{
						width: 70%;
					}
					&.author{
						width: 30%;
					}
				}
			}
		}
		.tbody{
			.tr{
				width: 100%;
				float: left;
				padding: 20px 50px;
				&:nth-child(odd){
					background-color: #F2F2F2;
				}
				.td{
					float: left;
					padding: 0 15px;
					h4{
						margin-bottom: 0;
						line-height: 26px;
					}
					.person__details{
						margin-bottom: 20px;
						&:last-child{
							margin-bottom: 0;
						}
					}
					&.book{
						width: 70%;
						h4{
							margin-bottom: 0;
						}
						p{
							margin-bottom: 0;
						}
					}
					&.author{
						width: 30%;
					}
				}
			}
		}
	}
}