.adp-{
	&breadcrumbs{
		&__section{
			padding: 50px 0 60px;
		}
		a{
			display: block;
			float: left;
			font-size: 14px;
			line-height: 20px;
			color: #808080;
			&:hover{
				color: #19A8E6;
				text-decoration: none;
			}
			span{
				&.home{
					width: 17px;
					height: 16px;
					display: block;
					font-size: 0;
					margin-top: 1px;
					background-image: url('../images/icons/home.svg');
				}
			}
		}
		span{
			font-size: 14px;
			line-height: 20px;
			float: left;
			color: #808080;
			&.arrow{
				width: 9px;
				height: 14px;
				display: block;
				font-size: 0;
				margin: 3px 15px 0;
				background-image: url('../images/icons/arrow.svg');
			}
		}
	}
}