.adp-{
	&footer{
		width: 100%;
		float: left;
		padding: 50px 0 0;
		background-color: #F2F2F2;
		.top__nav{
			width: 100%;
			float: left;
		}
		.bottom__nav{
			width: 100%;
			float: left;
			background-color: $primary-blue;
		}
		&__information{
			width: 100%;
			float: left;
			h3{
				margin-bottom: 30px;
			}
		}
		.widget_nav_menu{
			width: 100%;
			float: left;
			margin-top: 55px;
			>div{
				width: 100%;
				float: left;
			}
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					width: 100%;
					float: left;
					margin-bottom: 20px;
					a{
						font-size: 16px;
						font-weight: 700;
						color: #000;
						&:hover{
							text-decoration: none;
							color: $primary-blue;
						}
					}
				}
			}
		}
	}
	&footer__horizontal{
		width: 100%;
		float: left;
		margin-bottom: 50px;
		.widget_nav_menu{
			margin-top: 0;
			ul{
				li{
					float: left;
					width: auto;
					margin-bottom: 0;
					a{
						font-weight: 400;
						font-size: 16px;
						line-height: 26px;
						display: block;
						position: relative;
						&:hover{
							text-decoration: none;
							color: $primary-blue;
						}
						&::after{
							content: '|';
							padding: 0 10px;
						}
					}
					&:last-child{
						a::after{
							display: none;
						}
					}
				}
			}
		}
	}
	&copyright__block{
		width: 100%;
		float: left;
		p{
			color: #fff;
			margin-bottom: 0;
			padding: 12px 0;
		}
	}
}