.adp-{
	&header{
		width: 100%;
		float: left;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		.top__line{
			width: 100%;
			height: 55px;
			float: left;
			background-color: $primary-blue;
		}
		.bottom__line{
			width: 100%;
			height: 100px;
			background-color: #fff;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
			float: left;
			-webkit-transition: all .2s ease-in-out 0s;
					transition: all .2s ease-in-out 0s;
		}
		&.scroll{
			.bottom__line{
				height: 55px;
			}
			.adp-bottom__nav ul li {
				a{
					padding: 13.5px 41.5px;
				}
				.sub-menu{
					li a{
						padding: 8px 15px;
					}
				}
				&:last-child{
					a{
						padding-right: 0;
					}
				}
			}
			.adp-logo h4{
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
			}
		}
	}
	&logo{
		width: 255px;
		display: block;
		top: 8px;
		position: absolute;
		z-index: 10;
		img{
			width: 84px;
			margin-bottom: 1px;
		}
		h4{
			font-weight: 700;
			color: #000;
			margin-bottom: 0;
			font-size: 16px!important;
			line-height: 22px!important;
			-webkit-transition: all .2s ease-in-out 0s;
					transition: all .2s ease-in-out 0s;
		}
		&:hover{
			text-decoration: none;
		}
	}
	&top__menu{
		padding-left: 311.5px;
	}
	&top__nav{
		ul{
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				float: left;
				a{
					font-weight: 700;
					font-size: 20px;
					line-height: 29px;
					color: #fff;
					padding: 12px 34.5px 14px;
					display: block;
					&:hover{
						text-decoration: none;
					}
				}
				// &.current-menu-item{
				// 	a{
				// 		color: #000;
				// 	}
				// }
			}
		}
	}
	&service__bar{
		padding: 15px 0;
		margin-left: 34.5px;
		position: relative;
		a,
		div{
			display: block;
			float: left;
			cursor: pointer;
			margin-left: 30px;
			&:first-child{
				margin-left: 0;
			}
		}
		.scale{
			width: 41px;
			height: 18px;
			margin-top: 2px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('../images/icons/scale.svg');
			&.active{
				background-image: url('../images/icons/unscale.svg');
			}
		}
		.user{
			width: 25px;
			height: 25px;
			background-image: url('../images/icons/user.svg');
		}
		.print{
			width: 25px;
			height: 25px;
			background-image: url('../images/icons/print.svg');
		}
		.search__bar{
			width: 310px;
			height: 60px;
			position: absolute;
			right: -20px;
			top: 130%;
			background-color: #fff;
			border: 1px solid #19A8E6;
			border-top: 1px solid #fff;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
			border-radius: 0px 0px 8px 8px;
			z-index: 10;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
			&.show{
				top: 100%;
				opacity: 1;
				visibility: visible;
				pointer-events: inherit;
			}
		}
		.search{
			width: 21px;
			height: 21px;
			margin-top: 1px;
			position: relative;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('../images/icons/search.svg');
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
			&.show{
				background-image: url('../images/icons/close.svg');
			}
		}
		.adp-search__form{
			width: 100%;
			float: left;
			padding: 9px 25px 16px;
		}
		.adp-search__group{
			width: 100%;
			float: left;
			position: relative;
		}
		.adp-search__field{
			width: 100%;
			float: left;
			border: none;
			border-bottom: 1px solid #ccc;
			font-size: 16px;
			line-height: 18px;
			padding: 8px 25px 8px 0;
			&:focus{
				outline: none;
			}
		}
		.adp-search__submit{
			position: absolute;
			top: 4px;
			right: 0;
			background-color: transparent;
			border: none;
			width: 21px;
			height: 21px;
			margin-top: 1px;
			background-image: url('../images/icons/search-blue.svg');
			&:focus{
				outline: none;
			}
		}
	}
	&bottom__nav{
		padding-left: 260px;
		ul{
			width: 100%;
			float: left;
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				float: left;
				a{
					font-weight: 700;
					font-size: 20px;
					line-height: 28px;
					color: #000;
					padding: 36px 41.5px;
					display: block;
					position: relative;
					-webkit-transition: all .2s ease-in-out 0s;
							transition: all .2s ease-in-out 0s;
					&:hover{
						color: $primary-blue;
						text-decoration: none;
					}
				}
				&:last-child{
					a{
						padding-right: 0;
					}
				}
				&.current-menu-parent,
				&.current-menu-item{
					>a{
						color: $primary-blue;
					}
				}
				&.menu-item-has-children{
					>a{
						&::after{
							content: '';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 20px 20px 20px;
							border-color: transparent transparent #F2F2F2 transparent;
							display: block;
							position: absolute;
							bottom: 0;
							left: 50%;
							margin-left: -20px;
							opacity: 0;
							visibility: hidden;
							// -webkit-transition: all 0.2s ease;
							// 		transition: all 0.2s ease;
						}
					}
					&:hover{
						>a::after{
							opacity: 1;
							visibility: visible;
						}
						>.sub-menu{
							opacity: 1;
							visibility: visible;
							pointer-events: inherit;
							margin-top: 0;
						}
					}
				}
			}
			&.sub-menu{
				max-width: 1140px;
				position: absolute;
				left: 50%;
				padding: 70px 0;
				margin-top: 50px;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				// -webkit-transition: all 0.2s ease;
				// 		transition: all 0.2s ease;
				-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
				&::before{
					content: '';
					position: absolute;
					display: block;
					background-color: $primary-grey;
					left: -100vw;
					right: -100vw;
					top: 0;
					bottom: 0;
					z-index: 0;
				}
				li{
					width: 33.33%;
					float: left;
					position: relative;
					padding: 0 15px;
					z-index: 1;
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3){
						a{
							border-top: 1px solid $primary-blue;
						}
					}
					a{
						width: 100%;
						float: left;
						font-weight: 400;
						font-size: 16px;
						line-height: 24px;
						display: block;
						padding: 8px 15px;
						border-bottom: 1px solid $primary-blue;
						&:hover{
							background-color: rgba(25, 168, 230, 0.1);
							color: #000;
						}
					}
				}
			}
		}
	}
}