.adp-{
	&institution__table{
		width: 100%;
		float: left;
		.thead{
			width: 100%;
			float: left;
			.tr{
				width: 100%;
				float: left;
				padding: 20px 50px;
				.td{
					font-weight: bold;
					font-size: 16px;
					line-height: 26px;
					float: left;
					padding: 0 15px;
					min-height: 1px;
					&.name{
						width: 40%;
					}
					&.details{
						width: 35%;
					}
					&.address{
						width: 25%;
					}
				}
			}
		}
		.tbody{
			width: 100%;
			float: left;
			.tr{
				width: 100%;
				float: left;
				padding: 20px 50px;
				&:nth-child(odd){
					background-color: #F2F2F2;
				}
				.td{
					float: left;
					padding: 0 15px;
					min-height: 1px;
					&.name{
						width: 40%;
					}
					&.details{
						width: 35%;
					}
					&.address{
						width: 25%;
						p{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}