.adp-{
	&posts__section{
		padding: 0 0 100px;
	}
	&posts__pagination{
		width: 100%;
		float: left;
		margin: 50px 0 0;
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			text-align: center;
			li{
				display: inline-block;
				vertical-align: middle;
				margin: 0 8.5px;
				a{
					border: 1px solid #808080;
				}
				span,
				a{
					width: 33px;
					height: 33px;
					display: block;
					text-align: center;
					line-height: 31px;
					font-size: 18px;
					font-weight: 700;
					position: relative;
					border-radius: 8px;
					&:hover{
						background-color: rgba(25, 168, 230, 0.1);
						border-color: $primary-blue;
						color: $primary-blue;
					}
					&.current{
						background-color: $primary-blue;
						color: #fff;
					}
					&:hover{
						text-decoration: none;
						.adp-next__page,
						.adp-prev__page{
							border-color: transparent;
						}
					}
					&.prev,
					&.next{
						border: none;
					}
					&.adp-prev__page{
						width: 17px;
						height: 16px;
						display: block;
						background-image: url('../images/icons/prev-arrow.svg');
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -8px;
						margin-left: -8px;
			            -webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
						&:hover{
							background-color: transparent;
						}
					}
					&.adp-next__page{
						width: 17px;
						height: 16px;
						display: block;
						background-image: url('../images/icons/next-arrow.svg');
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -8px;
						margin-left: -8px;
			            -webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
						&:hover{
							background-color: transparent;
						}
					}
				}
			}
		}
	}
	&posts__block{
		width: 100%;
		min-height: 300px;
		border: 1px solid #000000;
		border-radius: 8px;
		float: left;
		margin: 30px 0 0;
		padding: 25px;
		color: #000;
		overflow: hidden;
		&:hover{
			text-decoration: none;
			color: #000;
			background: rgba(25, 168, 230, 0.1);
			border: 1px solid #19A8E6;
		}
		.content{
			width: 100%;
			float: left;
			h3{
				margin-bottom: 10px;
			}
		}
		.read__more{
			width: 100%;
			float: left;
			color: $primary-blue;
			font-size: 16px;
			font-weight: 700;
			margin-top: 10px;
			display: block;
		}
	}
	&post__content{
		width: 100%;
		float: left;
		padding: 0 0 100px;
		.content{
			width: 100%;
			float: left;
			// border-bottom: 1px solid #ccc;
			// padding-bottom: 35px;
			// margin-bottom: 49px;
		}
		.sidebar{
			width: 100%;
			float: left;
			div{
				width: 100%;
				float: left;
				margin-bottom: 26px;
				h4{
					line-height: 26px;
					margin-bottom: 0;
				}
				p{
					margin-bottom: 0;
				}
				&.additional{
					span{
						width: 100%;
						float: left;
						display: block;
						font-size: 16px;
						line-height: 26px;
						color: $primary-blue;
						cursor: pointer;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
		.content__section{
			width: 100%;
			float: left;
			.header{
				display: none;
			}
			.body{
				width: 100%;
				float: left;
				.title__line{
					width: 100%;
					float: left;
					display: none;
				}
				.content__wrapper{
					width: 100%;
					float: left;
				}
			}
		}
	}
	&print__details{
		width: 570px;
		margin-left: 96px;
		.title{
			width: 100%;
			float: left;
			h2{
				font-size: 31px;
				line-height: 43px;
				margin-bottom: 10px;
			}
		}
		.details__block{
			width: 100%;
			float: left;
			border: 1px solid #000;
			.column{
				width: 50%;
				float: left;
				padding: 15px 27px;
				.tr{
					width: 100%;
					float: left;
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
					.td{
						width: 40%;
						float: left;
						font-size: 18px;
						line-height: 28px;
						&.title{
							width: 60%;
							font-weight: 700;
						}
						

					}
				}
			}
		}
	}
	&print__content{
		display: none;
		width: 100%;
		float: left;
		padding: 0;
		table{
			margin: 0;
			padding: 0;
		}
		thead{
			width: 100%;
		}
		tbody{
			width: 100%;
			.title__line{
				width: 100%;
				float: left;
			}
			.adp-breadcrumbs{
				width: 100%;
				float: left;
				margin: 30px 0 70px;
				a,
				span{
					color: #808080;
					font-size: 16px;
					line-height: 22px;
					text-decoration: none;
					display: inline-block;
					&.arrow{
						&::before{
							content: '>';
							display: block;
							color: #808080;
							font-size: 16px;
							line-height: 22px;
							margin: -3px 0 0 0;
						}
					}
					&.home{
						margin: 0 25px 0 0;
						&::before{
							content: 'Home';
							display: block;
							color: #808080;
							font-size: 16px;
							line-height: 22px;
						}
					}
				}
			}
			p{
				page-break-inside: avoid;
			}
		}
	}
	&search__result{
		width: 100%;
		float: left;
		padding-bottom: 50px;
		border-bottom: 1px solid #ccc;
		margin-top: 20px;
		margin-bottom: 30px;
		h3{
			margin-bottom: 12px;
		}
		p{
			font-size: 16px;
			line-height: 26px;
		}
		a.read__more{
			margin-top: 10px;
			font-size: 16px;
			line-height: 26px;
			display: block;
			float: left;
		}
	}
	&post__navigation{
		width: 100%;
		float: left;
		margin-top: 35px;
		padding: 49px 0 0 22.5px;
		position: relative;
		border-top: 1px solid #ccc;
		&::before{
			content: '';
			width: 17px;
			height: 16px;
			display: block;
			position: absolute;
			background-image: url('../images/icons/arrow-blog-blue.svg');
			left: 0;
			top: 55px;
		}
		a{
			h3{
				margin-bottom: 0;
			}
		}
	}
}
@media print {
	@page{
		margin: 25mm 25mm 25mm 25mm;
	}
	body{
		counter-reset: page;
	}
	main{
		padding-top: 0;
		min-height: inherit;
	}
	.adp-{
		&print__logo{
			width: 255px;
			margin: 30px 0 50px;
			img{
				width: 120px;
			}
		}
		&single__footer{
			width: 100%;
			padding: 40px 0 0;
			margin-top: 30px;
			border-top: 1px solid #000;
			h5{
				margin-bottom: 0;
				font-size: 18px;
				line-height: 28px;
			}
			p{
				font-size: 18px;
				line-height: 28px;
			}
		}
	}
	.adp-post__content{
		.page__title{
			display: none;
		}
		.footer{
			width: 100%;
			float: left;
			padding-top: 50px;
			margin-top: 40px;
			border-top: 1px solid #000;
		}
		.content__section{
			.header{
				display: table-header-group;
			}
			.body{
				.title__line{
					width: 100%;
					float: left;
					display: block;
					h1{
						width: 100%;
						float: left;
					}
				}
				.adp-breadcrumbs{
					display: block;
					margin-bottom: 70px;
					span.arrow{
						background-image: none;
						margin: 0 15px;
						&::after{
							content: '/';
							font-size: 14px;
						    line-height: 20px;
						    float: left;
						    color: grey;
						}
					}
					a{
						text-decoration: none;
						span.home{
							width: auto;
							height: inherit;
							background-image: none;
							&::after{
								content: 'Home';
							    font-size: 14px;
							    line-height: 20px;
							    float: left;
							    color: grey;
							}
						}
					}
				}
			}
		}
	}
	.adp-header,
	.adp-breadcrumbs__section,
	.adp-post__navigation,
	.adp-post__content .sidebar div.additional,
	.adp-footer{
		padding: 0;
		margin: 0;
		display: none;
	}
}