.adp-{
	&regional__section{
		padding: 40px 0 100px;
		.text{
			width: 100%;
			float: left;
		}
		.image{
			width: 100%;
			float: left;
		}
	}
	&regional__table{
		width: 100%;
		float: left;
		margin-top: 30px;
		.thead{
			width: 100%;
			float: left;
			.tr{
				width: 100%;
				float: left;
				padding: 20px 50px;
				.td{
					font-weight: bold;
					font-size: 16px;
					line-height: 26px;
					float: left;
					padding: 0 15px;
					&.zip{
						width: 20%;
					}
					&.city{
						width: 20%;
					}
					&.person{
						width: 60%;
					}
				}
			}
		}
		.tbody{
			.tr{
				width: 100%;
				float: left;
				padding: 20px 50px;
				&:nth-child(odd){
					background-color: #F2F2F2;
				}
				.td{
					float: left;
					padding: 0 15px;
					h4{
						margin-bottom: 0;
					}
					.person__details{
						margin-bottom: 20px;
						a{
							font-weight: 700;
						}
						&:last-child{
							margin-bottom: 0;
						}
					}
					&.zip{
						width: 20%;
					}
					&.city{
						width: 20%;
					}
					&.person{
						width: 60%;
						p{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}