.adp-{
	&scientific__board__section{
		padding: 30px 0 60px;
	}
	&scientific__board{
		width: 100%;
		float: left;
		.thead{
			width: 100%;
			float: left;
			.tr{
				width: 100%;
				float: left;
				padding: 20px 50px;
				.td{
					font-weight: bold;
					font-size: 16px;
					line-height: 26px;
					float: left;
					padding: 0 15px;
					div{
						float: left;
						position: relative;
						cursor: pointer;
						padding-right: 44px;
						&::after{
							content: '';
							display: block;
							position: absolute;
							top: 11px;
							right: 0;
							width: 29px;
							height: 8px;
							background-image: url('../images/icons/sorting.svg');
						}
					}
					&:focus{
						outline: none;
					}
					&.name{
						width: 27%;
					}
					&.author{
						width: 27%;
					}
					&.address{
						width: 46%;
					}
				}
			}
		}
		.tbody{
			.tr{
				width: 100%;
				float: left;
				padding: 20px 50px;
				&:nth-child(odd){
					background-color: #F2F2F2;
				}
				.td{
					min-height: 1px;
					float: left;
					padding: 0 15px;
					h4{
						margin-bottom: 0;
						line-height: 26px;
					}
					.person__details{
						margin-bottom: 20px;
						&:last-child{
							margin-bottom: 0;
						}
					}
					&.name{
						width: 27%;
						h4{
							color: $primary-blue;
							margin-bottom: 0;
						}
						p{
							margin-bottom: 0;
						}
					}
					&.author{
						width: 27%;
					}
					&.address{
						width: 46%;
					}
				}
			}
		}
	}
}