.adp-{
	&person__section,
	&institution__section{
		.adp-title{
			width: 100%;
			float: left;
			h1{
				margin-bottom: 50px;
			}
		}
		.block__title{
			width: 100%;
			float: left;
			h3{
				margin-bottom: 20px;
			}
		}
	}
	&institution__section{
		.adp-google__map{
			margin-bottom: 50px;
		}
	}
	&information__block{
		width: 100%;
		float: left;
		margin-top: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid #ccc;
		&:first-child{
			margin-top: 0;
		}
		&:last-child{
			border-bottom: 0;
		}
		&.institution{
			.tr{
				.td{
					width: 70%;
					&.title{
						width: 30%;
					}
				}
			}
		}
		.tr{
			width: 100%;
			float: left;
			&.margin__top{
				margin-top: 30px;
			}
			.td{
				width: 80%;
				float: left;
				font-size: 16px;
				line-height: 26px;
				&.title{
					width: 20%;
					font-weight: 700;
				}
				p{
					margin-bottom: 0;
				}
				a{
					margin-right: 10px;
				}
			}
		}
		ul{
			width: 100%;
			float: left;
		}
	}
	&google__map{
		width: 100%;
		height: 350px;
		float: left;
		margin-bottom: 50px;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	&person__content{
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
}