.adp-{
	&sitemap{
		&__section{
			width: 100%;
			float: left;
			padding: 134px 0 10px;
		}
		&__block{
			width: 100%;
			float: left;
		}
		&__column{
			width: 100%;
			float: left;
			margin-bottom: 75px;
			.title{
				width: 100%;
				float: left;
				h2{
					font-weight: 700;
					margin-bottom: 25px;
				}
				a{
					color: #000;
					&:hover{
						color: $primary-blue;
						text-decoration: none;
					}
				}
			}
			.links__block{
				width: 100%;
				float: left;
				ul{
					padding: 0;
					margin: 0;
					list-style: none;
					li{
						margin-bottom: 25px;
						a{
							font-size: 20px;
							line-height: 22px;
							color: #000;
							&:hover{
								color: $primary-blue;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}